<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js"></script>
    <title>Class01 練習</title>
</head>
<body>
    <div id="app">
        <div class="container">
          <div class="my-3">
            <button type="button" class="btn btn-outline-primary">
              切換大頭貼解析度
            </button>
            現在圖片解析度：
            <span>清晰</span>
          </div>
          <div class="row">
            <div class="col-md-4 mb-3" v-for="item in data">
              <div class="card h-100">
                <div class="position-absolute" style="top: 20px; right: 20px">
                  <button type="button" class="btn btn-outline-danger rounded-pill">
                    <i class="bi bi-heart fs-5"></i>
                  </button>
                </div>
                <img :src="item.picture.large" class="card-img-top"/>
                <div class="card-body">
                  <h5 class="card-title">
                    {{ item.name.title }} 
                    {{ item.name.first }} 
                    {{ item.name.last }} 
                    ( <span>
                        <i class="bi bi-gender-male" v-if="item.gender === 'male'"></i>
                        <i class="bi bi-gender-female" v-else></i>
                    </span> )
                  </h5>
                  <p class="card-text">
                    Email: <a :href="`mailto:${item.email}`">{{ item.email }}</a>
                  </p>
                  <p class="card-text">
                    Phone: <a :href="`tel:${item.phone}`">{{ item.phone }}</a>
                  </p>
                  <p class="card-text">
                    Cell: <a :href="`tel:${item.cell}`">{{ item.cell }}</a>
                  </p>
                  <p class="card-text">City: {{ item.location.city }}</p>
                  <p class="card-text">State: {{ item.location.state }}</p>
                  <p class="card-text">Country: {{ item.location.country }}</p>
                  <p class="card-text">Postcode: {{ item.location.postcode }}</p>
                  <p>
                    Address:
                    <a :href="`https://www.google.com.tw/maps/search/${item.location.city}${item.location.state}`" target="_blank">
                        {{ item.location.city }} 
                        {{ item.location.state }} 
                        {{ item.location.country }} 
                        {{ item.location.postcode }}
                    </a>
                  </p>
                  <p class="card-text">
                    {{ item.location.timezone.description }}
                  </p>
                  <p class="card-text">
                    <small class="text-muted">
                        dob: {{ item.dob.date }}
                    </small>
                  </p>
                  <p class="card-text">
                    <small class="text-muted">
                        registered: {{ item.registered.date }}
                    </small>
                  </p>
                  <iframe
                    width="100%"
                    height="300"
                    frameborder="0"
                    scrolling="no"
                    marginheight="0"
                    marginwidth="0"
                    :src="`https://maps.google.com.tw/maps?f=q&amp;hl=zh-TW&amp;geocode=&amp;q=${item.location.coordinates.latitude},${item.location.coordinates.longitude}&amp;z=10&amp;output=embed`"
                  ></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <script type="module">
        Vue.createApp({
            // data 函式
            data: function() {
                return {
                    data: []
                };
            },
            // mounted 函式
            mounted: function() {
                axios.get("https://randomuser.me/api/?results=9") // 發出取得的請求
                    .then((response) => {
                        console.log(response);
                        this.data = response.data.results;
                })
            }
        }).mount('#app');
    </script>
    
</body>
</html>