<!DOCTYPE html>
<html lang="en"><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<body>
  <div id="app" class="container">
    <input type="text" v-model="text"> <button type="button"
    @click="addItem">增加文字</button>

    <ul>
      <li v-for="item in data" :key="item.id">
        {{ item.text }}
        <button type="button" 
        @click="editItem(item)">編輯品項</button>
        <button type="button" @click="removeItem(item)">移除品項</button>
      </li>
    </ul>

    <hr>
    <input type="text" v-model="temp.text">
    <button type="button"
    @click="doneEdit">編輯完成</button>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.1.4/vue.global.min.js"></script>
  <script>
    // 當我們在 Vue 的
    const app = Vue.createApp({
      data() {
        // 資料集
        return {
          text: '我是卡斯伯',
          data: [],
          temp: {}  // 用來傳遞暫存的資料
        };
      },
      methods: {
        // #1 如何新增資料
        addItem() {
          this.data.push({  // // 陣列新增語法
            id: this.data.length + 1,
            text: this.text
          });
          this.text = '';
        },
        // #2 如何移除資料
        removeItem(item) {
          // 1 陣列索引
          // 2 id
          const index = this.data.findIndex(obj => obj.id === item.id);
          console.log(index);
          this.data.splice(index, 1);  // 陣列刪除語法
        },
        // #3 如何編輯資料
        editItem(item) {
          this.temp = { ...item };  // 避免傳參考問題，會把變數複製出來 (淺層複製)， ...是 ES6 寫法
        },
        // #4 把資料寫回
        doneEdit() {
          const index = this.data.findIndex(obj => obj.id === this.temp.id);

          // 把資料寫回索引
          this.data[index] = this.temp

          // this.temp 清空
          this.temp = {};
        }
      },
    });
    app.mount('#app');

  </script>
</body>
</html>